**What is Database?**

Database is a collection of information that is maintained in a proper way so that it can be easily accessed, managed and updated.It contains data records or files.There are so many databases like SQL, MySQL, NoSQL,etc.Here we will discuss about Python in-built database SQLite.

In [1]:
pwd()

'C:\\Users\\ANKDIP\\YoutubeCoding\\Python'

In [2]:
#importing the database
import sqlite3

In [7]:
#connecting with the database.
db = sqlite3.connect("my_database.db")  #db database will be created if it does not exist.

In [4]:
db

In [5]:
db.close()

##### We can interact with databases through SQLs or Structured Query Languages

In [8]:
#drop table citizen if exists in the available database
db.execute("drop table if exists citizen")

In [9]:
#creating table citizen 
db.execute("create table citizen(id int, name text, age int,occupation text)")

In [10]:
#inserting values inside the created table citizen
db.execute("insert into citizen(id, name, age,occupation) values(1000, 'Lucky',35,'Software Engineer')")
db.execute("insert into citizen(id, name, age,occupation) values(1001, 'Alam',25,'Software Developer')")
db.execute("insert into citizen(id, name, age,occupation) values(1002, 'Siraj',45,'Youtuber')")
db.execute("insert into citizen(id, name, age,occupation) values(1003, 'Ankhi',18,'Student')")

In [11]:
db.commit()

In [12]:
print("*" * 50 )
results = db.execute("select * from citizen order by id")
for row in results:
    print(row)
print("*" * 50 )

**************************************************
(1000, 'Lucky', 35, 'Software Engineer')
(1001, 'Alam', 25, 'Software Developer')
(1002, 'Siraj', 45, 'Youtuber')
(1003, 'Ankhi', 18, 'Student')
**************************************************

In [13]:
results

In [14]:
print("^" * 30 )
results = db.execute("select name, age from citizen order by age")
for row in results:
    print(row)
print("v" * 30 )

^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
('Ankhi', 18)
('Alam', 25)
('Lucky', 35)
('Siraj', 45)
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvv

In [15]:
print("+" * 30 )
results = db.execute("select name, age from citizen order by name")
for row in results:
    print(row)
print("+" * 30 )

++++++++++++++++++++++++++++++
('Alam', 25)
('Ankhi', 18)
('Lucky', 35)
('Siraj', 45)
++++++++++++++++++++++++++++++

In [16]:
print("-" * 45 )
results = db.execute("select * from citizen where age >= 35 ")
for row in results:
    print(row)
print("-" * 45 )

---------------------------------------------
(1000, 'Lucky', 35, 'Software Engineer')
(1002, 'Siraj', 45, 'Youtuber')
---------------------------------------------

In [17]:
print("#" * 35 )
results = db.execute("select name,occupation from citizen")
for row in results:
    print(row)
print("#" * 35 )

###################################
('Lucky', 'Software Engineer')
('Alam', 'Software Developer')
('Siraj', 'Youtuber')
('Ankhi', 'Student')
###################################

#### There are so many SQLs to interact with the database server.

In [ ]:
#Task: Suppose we want to make a list of names in the citizen table available in created 'db' database in sqlite server.

In [18]:
results=db.execute("select name from citizen")
listt=[row[0] for row in results]
listt

['Lucky', 'Alam', 'Siraj', 'Ankhi']

In [19]:
#closing the connection to the database
db.close()

## Next: Object Oriented Programming(Class concepts)