## Tuple

### Tuple is an ordered collection of immutable or non-updatable same or different type objects.

In [ ]:
#creating a Tuple
t=(1,2,'3')
type(t)

In [ ]:
t

In [ ]:
t=()
type(t)

###### Indexing and Slicing

In [ ]:
t[0]

In [ ]:
t[::2]

In [ ]:
t[::-1]  #Reversing

##### Immutability

In [ ]:
t

In [ ]:
t[1]='new'

###### Basic methods like append,extend,remove,pop,sort in list are not supported in tuple

In [ ]:
t

In [ ]:
#example
t.reverse()

In [ ]:
l=[1,2]
l.reverse()
l

In [ ]:
#Finding length
len(t)

In [ ]:
t

In [ ]:
t.count(1)

In [ ]:
t.index(2)

# Set

In [ ]:
x=set()
type(x)

In [ ]:
#Adding elements to a set
x.add(2)
x

In [ ]:
#Adding multiple elements to a set
x.add(3,4)
#x
#We will perform it by union methods in set

In [ ]:
x

In [ ]:
#try to add same element
x.add(2)
x

In [ ]:
#converting a list into a set
l=[1,2,2,2,3,3,4,5,5]
set(l)

In [ ]:
x=set([1,2,3,4,5])
y=set([4,5,6,7])
x.union(y)

In [ ]:
set.union(x,y)

In [ ]:
x.intersection(y)

In [ ]:
set.intersection(x,y)

In [ ]:
set.difference(x,y)

In [ ]:
set.issubset(x,y)

In [2]:
x={1,2,3,4,5}
y={1,2,3}
set.issubset(y,x)

True

In [3]:
set.issuperset(x,y)

True

In [4]:
set.isdisjoint(x,y)

False

In [5]:
x

{1, 2, 3, 4, 5}

In [6]:
set.clear(x)
x

set()

# Dictionary

###### A dictionary in python is nothing but a collection of key, value pairs.

In [7]:
dict1={'Sun':'Star','Earth':'Planet'}
dict2={'Potato':100,'Beans':80}

In [8]:
type(dict1)

dict

###### Fetching data in a dictionary

In [9]:
dict1['Sun']

'Star'

In [10]:
dict2['Beans']

80

In [11]:
dict1.keys()

dict_keys(['Sun', 'Earth'])

In [12]:
print(dict1.keys)   #Buffer Memory Location

<built-in method keys of dict object at 0x000002005AB47C78>

In [13]:
dict1.values()

dict_values(['Star', 'Planet'])

In [14]:
dict1.items()

dict_items([('Sun', 'Star'), ('Earth', 'Planet')])

In [15]:
#Different type of values
dict3={'key1':10,'key2':'val2','key3':[2,4,9],'key4':(3,4,5),'key5':dict1}

In [16]:
dict3['key1']

10

In [17]:
type(dict3['key4'])

tuple

In [18]:
type(dict3['key5'])

dict

###### Modifying Dictionary

In [19]:
dict2

{'Potato': 100, 'Beans': 80}

In [20]:
#Adding new pair
dict2['Onion']=45

In [21]:
dict2

{'Potato': 100, 'Beans': 80, 'Onion': 45}

In [22]:
#upgrading value in a pair
#dict2['Beans']-=20
dict2['Beans']=dict2['Beans']-20

In [23]:
dict2

{'Potato': 100, 'Beans': 60, 'Onion': 45}

In [24]:
list(dict2.items())

[('Potato', 100), ('Beans', 60), ('Onion', 45)]

In [25]:
#Deleting del method.
del dict2['Onion']
dict2

{'Potato': 100, 'Beans': 60}

In [26]:
dict2

{'Potato': 100, 'Beans': 60}

In [27]:
#Using pop() method
dict2.pop('Potato')
dict2

{'Beans': 60}

### Nested Dictionary

In [28]:
Nested_dict={'key1':'val1','key2':{'k2':'v2','k3':'v3'}}
Nested_dict.items()

dict_items([('key1', 'val1'), ('key2', {'k2': 'v2', 'k3': 'v3'})])

### Comprehensions

In [29]:
dict_comp={x:x+2 for x in range(5)}

In [30]:
dict_comp

{0: 2, 1: 3, 2: 4, 3: 5, 4: 6}